# Banco de Dados (Principal)
orcamentos.db
orcamento.db
*.db

# Arquivos temporários e Compilação Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller (builds e executáveis)
build/
dist/
*.spec

# Variáveis de ambiente
.env
venv/
env/

# Sistema Operacional
.DS_Store
Thumbs.db

company_logo.png
company_logo.jpg
logo_empresa.png
logo_empresa.jpg
